<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>TRADER_HOME</key>
		<string>/Users/you/CryptoTrade</string>
	</dict>
	<key>Label</key>
	<string>com.cryptotrade.trader.heartbeat</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/you/CryptoTrade/.venv/bin/python</string>
		<string>-m</string>
		<string>trader</string>
		<string>check-heartbeat</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/you/CryptoTrade/logs/heartbeat-check.out</string>
	<key>StandardOutPath</key>
	<string>/Users/you/CryptoTrade/logs/heartbeat-check.out</string>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>WorkingDirectory</key>
	<string>/Users/you/CryptoTrade</string>
</dict>
</plist>
